h1 {
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-justify: auto;
  margin-top: 20px;
  color: aliceblue;
}

h3 {
  font-size: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-justify: auto;
  margin-top: 20px;
  color: azure;
}

h2 {
  font-size: 1.5rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-justify: auto;
  margin-top: 50px;
  color: azure;
}

.task-enter {
  padding: 2px;
  height: 30px;
  background-color: azure;
  border-color: azure;
  align-items: center;

}

body {
  background-color: pink;
}

.task {
  text-align: center;
  text-justify: auto;
  font-size: large;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(183, 114, 138);
  display: list-item;
}


button {
  color: brown;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.add-button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(252, 212, 228);
  border-color: rgb(189, 132, 155);
}

.delete-button {
  height: fit-content;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: lighter;
  border-radius: 20px;
  justify-content: center;
  font-size: small;
  background-color: rgb(252, 212, 228);
  border-color: rgb(189, 132, 155);
  color: rgb(189, 132, 155);
  font-weight: lighter;
  margin-left: 5px;
}

.tasks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.tasks-enter {
  padding: 2px;
  height: 30px;
  border-radius: 5px;
  background-color: azure;
  border-color: azure;
  align-items: center;

}

.complete-button {
  height: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: lighter;
  border-radius: 20px;
  font-size: small;
  background-color: rgb(252, 212, 228);
  border-color: rgb(189, 132, 155);
  color: rgb(189, 132, 155);
  font-weight: lighter;
  border-color: rgb(155, 105, 125);
}

.complete-button:active+.task {
  text-decoration: line-through;

}

.text.completed {
  text-decoration: line-through;
  color: #ceb1b1;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.filter-buttons button {
  font-weight: lighter;
  cursor: pointer;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: normal;
  cursor: pointer;
  background-color: rgb(252, 212, 228);
  border-color: rgb(189, 132, 155);
}

.filter-buttons button:hover {
  background-color: rgb(189, 132, 155);
  color: aliceblue;
}

.add-button:hover {
  background-color: rgb(189, 132, 155);
  color: aliceblue;
}

.clear-button {
  font-weight: lighter;
  cursor: pointer;

  color: white;
  font-weight: normal;
  cursor: pointer;
  background-color: rgb(252, 212, 228);
  border-color: rgb(189, 132, 155);
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 2%;
  font-size: small;
  text-align: center;
  text-justify: center;
  align-items: center;
  display: static;
  vertical-align: baseline;
  overflow: wrap;
}

.clear-button:hover {
  background-color: rgb(189, 132, 155);
  color: aliceblue;
}

.edit-button {
  height: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: lighter;
  border-radius: 20px;
  font-size: small;
  background-color: rgb(252, 212, 228);
  border-color: rgb(189, 132, 155);
  color: rgb(189, 132, 155);
  font-weight: lighter;
}

.save-button {
  height: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: lighter;
  border-radius: 20px;
  font-size: small;
  background-color: rgb(252, 212, 228);
  border-color: rgb(189, 132, 155);
  color: rgb(189, 132, 155);
  font-weight: lighter;
}

.cancel-button {
  height: fit-content;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-weight: lighter;
  border-radius: 20px;
  font-size: small;
  background-color: rgb(252, 212, 228);
  border-color: rgb(189, 132, 155);
  color: rgb(189, 132, 155);
  font-weight: lighter;
}

.task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: rgb(252, 212, 228);
}

.username-input {
  padding: 2px;
  align-items: centre;
  text-align: center;
}

.continue-button {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(252, 212, 228);
  border-color: rgb(189, 132, 155);
}

.enter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}