h1{
  font-size: 3rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-justify: auto;
  margin-top: 20px;
  color: aliceblue;
}

h3{
  font-size: 1rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  text-justify: auto;
  margin-top: 20px;
  color: aliceblue;
}

.task-enter{
padding: 2px;

}

body{
  background-color:pink;
}

.task{
    text-align: center;
    text-justify: auto;
    font-size: large;
    font-weight: bold;
}


button{
  color:brown;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.add-button{
  color: blueviolet;
  font-weight: bold;
  cursor: pointer;
  
}

.delete-button{
  height:fit-content;
  padding: 6px;
  font-weight: lighter;
  border-radius: 10px;
  font-size: smaller;
  text-align: end;
  
}

.complete-button{
  height:fit-content;
  padding: 6px;
  border-radius: 10px;
  font-size: smaller;
  text-align: end;
  font-weight: lighter;
}

.complete-button:active + .task {
  text-decoration: line-through;
  
}

.text.completed{
  text-decoration: line-through;
  color: #888;
}